version: '3'

volumes:
  postgres_data:
      driver: local
services:
  postgres:
      image: postgres:16.4
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password
      ports:
       - 5432:5432
  keycloak:
      image: quay.io/keycloak/keycloak:legacy
      environment:
        PROXY_ADDRESS_FORWARDING: true
        DB_VENDOR: POSTGRES
        DB_ADDR: postgres
        DB_DATABASE: keycloak
        DB_USER: keycloak
        DB_SCHEMA: public
        DB_PASSWORD: password
        KEYCLOAK_USER: admin
        KEYCLOAK_PASSWORD: Pa55w0rd
        # Enable TLS
        # KC_HTTPS_CERTIFICATE_FILE: /etc/certs/cert.pem
        # KC_HTTPS_CERTIFICATE_KEY_FILE: /etc/certs/key.pem
      ports:
        - 8080:8080
        # Enable TLS
        # - 8443:8443
      # Enable TLS
      # volumes:
      #   - ./certs:/etc/keycloak/certs
      depends_on:
        - postgres
